{% comment %}
![alt text]({{site.baseurl}}/images/screens/MITVScreenshot_207_1509222832596-com.firsthash.smartyoutubetv2-com.liskovsoft.smartyoutubetv.bootstrap.BootstrapActivity-61a213eb5d676065de4ee90f4cb9ecf2.jpg)
![alt text]({{site.baseurl}}/images/screens/MITVScreenshot_207_1471470088510-com.firsthash.smartyoutubetv-com.android.browser.BrowserActivity-c8facb818cc6cb2cfc848542ce5d3034.jpg)
![alt text]({{site.baseurl}}/images/screens/MITVScreenshot_207_1474493975272-com.firsthash.smartyoutubetv2-com.android.browser.BrowserActivity-15dc76aae3d15c4e78fdc126aa816723.jpg)
![alt text]({{site.baseurl}}/images/screens/MITVScreenshot_207_1474494119216-com.firsthash.smartyoutubetv2-com.android.browser.BrowserActivity-d118d37e72e159978816a61c670e27b4.jpg)
{% endcomment %}
<div id="demo" class="plusview">
	<ul style="visibility: hidden;">
		<li> <a href="{{site.baseurl}}/images/screens/4k_1.jpg" data-type="image"> Sample Image </a></li>
		<li> <a href="{{site.baseurl}}/images/screens/4k_1.jpg" data-type="image"> Sample Image </a></li>
		<li> <a href="{{site.baseurl}}/images/screens/1080_1.jpg" data-type="image"> Sample Image </a></li>
		<li> <a href="{{site.baseurl}}/images/screens/1080_2.jpg" data-type="image"> Sample Image </a></li>
		<li> <a href="{{site.baseurl}}/images/screens/boot_1.jpg" data-type="image"> Sample Image </a></li>
	</ul>
</div>
{% include plusview.html %}