<!-- http://www.jqueryscript.net/slideshow/Google-Play-Style-Image-Viewer-With-jQuery-plusview.html -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ site.scripts }}/plusview/plusview.js"></script>
<!-- <link href="plusview.css" rel="stylesheet" type="text/css" /> -->
<script>
function appendCSS(cssFile) {
	var head = jQuery("head");
	var newStyle = jQuery('<link rel="stylesheet" type="text/css" href="' + cssFile + '">');
	head.append(newStyle);
}
appendCSS("{{ site.scripts }}/plusview/plusview.css");
</script>
<script>
$(function() {
$('#demo').plusview({
    height: 300,
    showItem: 1,
    duration: 5000,
    wrap: true
});
});
</script>