<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Condensed">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:light,regular,medium,thin,italic,mediumitalic,bold" title="roboto">
<link rel="stylesheet" href="{{ themebaseurl }}/css/default.css">
<link rel="stylesheet" href="{{ themebaseurl }}/css/side-menu.css">
<link rel="stylesheet" href="{{ themebaseurl }}/css/github-markdown.css">
<link rel="stylesheet" href="{{ themebaseurl }}/css/syntax.css">
<link rel="stylesheet" href="{{ themebaseurl }}/css/pure-min.css">
<!--[if lte IE 8]>
  <link rel="stylesheet" href="{{ themebaseurl }}/third_party/pure-layout-side-menu/side-menu-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="{{ themebaseurl }}/third_party/pure-layout-side-menu/side-menu.css">
<!--<![endif]-->