<!-- HELP: https://shopify.github.io/liquid/basics/types/ -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  {% if page.hide_title %}
  <title>{{ site.baseTitle }}</title>
  {% else %}
  <title>{{ site.baseTitle }} - {{ page.title }}</title>
  {% endif %}
  <!-- Site theme -->
  {% assign themebaseurl = site.baseurl | append: '/' | append: site.themename %}

  {% include styles.html %}
  {% seo %}
</head>
<body>

<div id="layout">
    {% include forkme.html %}

    <!-- Main content -->
    <div class="markdown-body">
      <article>
        {% include social-buttons.html %}
        {% if page.hide_title %}
        <h2><span style="color: #c50e0e">{{ site.baseTitle }}</span></h2>
        {% else %}
        <h2><span style="color: #c50e0e">{{ site.baseTitle }} - {{ page.title }}</span></h2>
        {% endif %}
        {{ content }}
        {% include disqus.html %}
      </article>
    </div>

</div>

{% include scripts.html %}
{% include github-buttons.html %}
<!-- Google analytics -->
{% include analytics.html %}

</body>
</html>
