<!-- HELP: https://shopify.github.io/liquid/basics/types/ -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <!-- Enable css media queries -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/images/site_logo.png"/>
  {% if page.hide_title %}
  <title>{{ site.baseTitle }}</title>
  {% else %}
  <title>{{ site.baseTitle }} - {{ page.title }}</title>
  {% endif %}
  <!-- Site theme -->
  {% assign themebaseurl = site.baseurl | append: '/' | append: site.themename %}

  {% include styles.html %}
  {% seo %}
</head>
<body>

<div id="layout">
    {% include forkme.html %}

    <!-- Main content -->
    <div class="markdown-body">
      <article>
        {% include social-buttons.html %}
        <h2>
        {% if page.hide_title %}
        <span style="color: #c50e0e">{{ site.baseTitle }}</span>
        {% else %}
        <span style="color: #c50e0e">{{ site.baseTitle }} - {{ page.title }}</span>
        {% endif %}
        </h2>
        <h4>
        <a href="/ua">UA</a>
        <a href="/ru">RU</a>
        <a href="/">EN</a>
        </h4>
        {{ content }}
        {% include disqus.html %}
      </article>
    </div>

</div>

{% include scripts.html %}
{% include github-buttons.html %}
<!-- Google analytics -->
{% include analytics.html %}

</body>
</html>
